<div class="container">
  <h2>Stop <%= @stop.stop_id %></h2>
  <h3><%= "#{@stop.on_street} and #{@stop.cross_street}" %></h3>

  <%= content_tag :div, "", id: "orders_chart", data: {info: [@stop.alightings, @stop.boardings]} %>

  <h3>Routes</h3>
  <% @stop.routes.each do |route| %>
    <%= link_to route do %>
      <div class="route_num"><%= route.route_number %></div>
    <% end %>
  <% end %>
</div>
