<tr>
  <td><%= stop.stop_id %></td>
  <td><%= stop.on_street %></td>
  <td><%= stop.cross_street %></td>
  <td><%= stop.boardings %></td>
  <td><%= stop.alightings %></td>
  <td><%= stop.routes.count %></td>
</tr>
