<div class="container">
  <h3>Route <%= @route.route_number %></h3>

  <table class="table">
    <thead>
      <th id='stop_id'><p><%= sortable "stop_id", "Stop" %></p></th>
      <th id='street'><p><%= sortable "on_street", "Street Name" %></p></th>
      <th id='cross'><p><%= sortable "cross_street", "Cross Street" %></p></th>
      <th id='board'><p><%= sortable "boardings", "Boardings" %></p></th>
      <th id='alight'><p><%= sortable "alightings", "Alightings" %></p></th>
      <th id='route'><p><%= sortable "Routes" %></p></th>
    </thead>
    <% @stops.each do |stop| %>
      <%= render 'stop_row', :stop => stop %>
    <% end %>
  </table>
  <%= will_paginate @stop_pages %>
</div>
